$primary: #FEFFFF;
$secondary: #162E4D;
$accent: #E47853;
$light: linear-gradient(to right, #F9FCFF , #DEE4EA);
$dark: linear-gradient(to right, #063168 , #0F1F33);

$font-weights: (
    "light": 300,
    "regular": 400,
    "semi-bold": 600,
    "bold": 700
);